<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.aticcaconsignado.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<preference name="android-minSdkVersion" value="15" />

<platform name="android">
        <allow-intent href="market:*" />

<icon density="ldpi" src="res/icon/android/ldpi.png"/>
<icon density="mdpi" src="res/icon/android/mdpi.png"/>
<icon density="hdpi" src="res/icon/android/hdpi.png"/>
<icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
<icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
<icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
       <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"/>
<icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
<icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
<icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
<icon src="res/icon/ios/icon-small-40.png" width="40" height="40"/>
<icon src="res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
<icon src="res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
<icon src="res/icon/ios/icon-small-50.png" width="50" height="50"/>
<icon src="res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
<icon src="res/icon/ios/icon.png" width="57" height="57"/>
<icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
<icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
<icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
<icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
<icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
<icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
<icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
<icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
<icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
<icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>
<!--  Storyboard portrait  -->
<splash src="res/screen/ios/Default@2x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@2x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~anyany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~comany.png"/>
    </platform>
    <name>Aticca Consignado</name>
    <description>
        Especializados em soluções financeiras e atuante há mais de 16 anos, Aticca proporciona aos seus clientes operações exclusivas de acordo com a necessidade e objetivos de cada um, montando estratégias e planos de decisões para cada caso, sendo como diferencial ao longo de quase duas décadas.

Contamos com equipe de profissionais que estão prontamente preparados para garantir a você e sua empresa, agilidade e segurança em suas operações diárias

Utilizamos base tecnológica de alto padrão, oferecendo de maneira única a cada clientes informações essenciais para tomada de decisões, minimizando consideravelmente perdas em determinadas negociações.

Além de operações digitais, todas nossas operações  são auditadas, garantindo segurança, transparência e credibilidade aos nossos clientes e investidores.
     </description>
    <author email="atendimento@aticcacapital.com.br" href="https://consignado.moneyp.com.br/aticca">
      https://consignado.moneyp.com.br/aticca/
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*://*.consignado.moneyp.com.br/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="android" spec="^6.1.2" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="onesignal-cordova-plugin" spec="^2.2.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
</widget>
